{% extends "documentos/base.html" %}

{% block content %}
  <h1>Acción Correctiva: {{ accioncorrectiva.pk }}</h1>

  <p><strong>Autor:</strong> <p>{{ accioncorrectiva.autor }}</p>
  <p><strong>De la NC:</strong> {{ accioncorrectiva.nc }}</p>
  <div style="margin-left:20px;margin-top:20px">
    <h4>Desarrollo:</h4>
    <p> {{ accioncorrectiva.descripcion }}</p>
  </div>

  {% if accioncorrectiva.publicado%}
    <p>Esta Acción Correctiva  está publicada</p>

  {% else %}
    <p>Esta acción correctiva no está publicada.</p>
  {% endif %}



  {% if user.is_authenticated %}


    <a href="{% url 'nc:AccionCorrectiva-edit' pk=accioncorrectiva.pk %}">Editar este acción correctiva.</a>
    <h2>Ver verificaciones de la AC</h2>
    <a href="{% url 'nc:verificacion_por_AC'%}?AC={{accioncorrectiva.pk}}">Listado de verificaciones.</a>

  {% endif %}

  {% for group in user.groups.all %}
    {% if group.name == 'Editor_Responsable' %}

    <h2>Publicar Acción Correctiva</h2>
    <a href="{% url 'nc:AccionCorrectiva-publicar' pk=accioncorrectiva.pk %}">Publicar esta acción correctiva.</a>
    <h2>Crear Verificación para esta Acción Correctiva</h2>
    <a href="{% url 'nc:nuevaVerificacion' pk=accioncorrectiva.pk %}">Verificar esta acción correctiva.</a>
    {% endif %}
  {% endfor %}

{% endblock %}
