{% extends "documentos/base.html" %}
{% load comments %}

{% block content %}
  <div class="conteiner-fluid">
  <div class='row'>
    <div class="col-sm-9 col-md-9" style="background-color:rgb(230, 248, 242);">
      <h1 class="bg-primary">No Conformidad: {{ nc.codigo }}</h1>

      <p><strong>Autor:</strong>  {{ nc.autor }}</p>
      <p><strong>Título:</strong> {{ nc.titulo }}</p>
      <p><strong>Sector:</strong> {{ nc.sector }}</p>
      <p><strong>Fecha de apertura:</strong> {{ nc.fecha_apertura }}</p>
      <p><strong>Cerrado:</strong> {{ nc.cerrada }}</p>
      <h4><strong>descripcion de la NC:</strong></h4>
      <p class="bg-info"> {{ nc.descripcion }}</p>




      {% if user.is_authenticated %}
      <h2 class="bg-success">Trabajar sobre la NC:</h2>
      <ul>
        <li><a href="{% url 'nc:accionInm_por_NC'%}?NC={{ nc.pk }}">acciones inmediatas (Ver crear y editar) </a></li>

        <li><a href="{% url 'nc:analisiscausa_por_NC'%}?NC={{ nc.pk }}">análisis de causa (Ver crear y editar) </a></li>

        <li><a href="{% url 'nc:accioncorrectiva_por_NC'%}?NC={{ nc.pk }}">acción correctiva (Ver crear y editar) </a></li>

        <li><a href="{% url 'nc:archivo_por_NC'%}?NC={{ nc.pk }}">archivos adjuntos a la NC (Ver y agregar) </a></li>

      </ul>
      {% endif %}

      {% for group in user.groups.all %}
        {% if group.name == 'Editor_Responsable' %}
        <br>
        <a href="{% url 'nc:nuevaCierreNC' pk=nc.pk %}">Cerrar esta No Conformidad</a>
        {% endif %}
      {% endfor %}


    <h2 class="bg-success">Informe de la No Conformidad</h2>
    <a href="{% url 'nc:nc-info' pk=nc.pk %}">Ver informe de la NC </a>


{% endblock %}
