{% extends "documentos/base.html" %}

{% block content %}
  <h1>Verificación de AC: {{ verificaac.pk }}</h1>

  <p><strong>Encargado:</strong> <p>{{ verificaac.encargado }}</p>
  <p><strong>De la NC:</strong> {{ verificaac.nc }}</p>
  <div style="margin-left:20px;margin-top:20px">
    <h4>Resultado Verificación:</h4>
    <p> {{ verificaac.resultado }}</p>
    <h4>Metodo Verificación:</h4>
    <p> {{ verificaac.metodo_verificacion }}</p>
  </div>

  {% if verificaac.publicado%}
    <p>Esta Verificación de Acción Inmediata  está publicada</p>

  {% else %}
    <p>Esta verificación de acción inmediata no está publicada.</p>
  {% endif %}


  {% for group in user.groups.all %}
    {% if group.name == 'Editor_Responsable' %}
    <h2>Publicar Verificación de Acción correctiva</h2>
    <a href="{% url 'nc:Verificacion-publicar' pk=verificaac.pk %}">Publicar esta verificación AC.</a>
    {% endif %}
  {% endfor %}

{% endblock %}
