<!DOCTYPE html>
<html lang="es">
<head>

  {% block title %}<title>Módulo Documentos</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div id="side_B"class="col-sm-2">
        <div class="sidebar">
    {% block sidebar %}
        <h2 id="menu" class="bg-primary">MENÚ</h2>
      <ul class="nav nav-pills nav stacked" role="tablist" >
        <li></li>
        <li class="btn btn-default"><a href="{% url 'index' %}">Home <span class= "glyphicon glyphicon-home"></span></a></li>
        <li class="btn btn-default" ><a href="" >Lista de Documentos <span class= "glyphicon glyphicon-list-alt"></span></a></li>
        <li class="btn btn-default"><a href=""> <span class= "glyphicon glyphicon-plus"></span></a></li>
        {% if user.is_authenticated %}
          <li class="btn btn-default">User: {{ user.get_username }}</li>
          <li  class="btn btn-danger"><a href="">Logout</a></li>
        {% else %}
          <li class="btn btn-success"><a href="">Login</a></li>   
        {% endif %}
      </ul>
    {% endblock %}
      </div>
    </div>
    <div class="col-sm-10 ">
        {% block content %}{% endblock %}
    </div>
  </div>

</div>
<footer class="page-footer font-small blue fixed-bottom">

  <!-- Footer -->
  <div class="footer-copyright text-center py-3">MMXIX:
    <a href="https://github.com/jbonomo1982"> Juan Manuel Bonomo</a>
  </div>
  <!-- Footer -->

</footer>

</body>
</html>
