{% extends "documentos/base.html" %}


{% block content %}
  <div class="conteiner-fluid">
  <div class='row'>
    <div class="col-sm-9 col-md-9" style="background-color:rgb(230, 248, 242);">
      <h1 class="bg-primary">Documento: {{ cat.codigo }}</h1>

      <p><strong>Sector:</strong>  {{ cat.sector.nombre }}</p>
      <p><strong>descripción:</strong>  {{ cat.descripcion }}</p>

    {% if user.is_authenticated %}
      {% if docs %}
        <h2>versiones de este documento en el sistema:</h2>
        {% for d in docs %}
          {% if d.publicado == True%}
            <ul>
              <li>{{d}} - PUBLICADO <a href="{% url 'documentos:editar_docu' pk=d.pk%}">Editar documento  </a></li>
            </ul>
          {% else %}
            <ul>
              <li>{{d}} </li>
            </ul>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endif %}




{% endblock %}
