{% extends "documentos/base.html" %}


{% block content %}
  <div class="conteiner-fluid">
  <div class='row'>
    <div class="col-sm-12 col-md-12" style="background-color:rgb(230, 248, 242);">
      <h1 class="bg-primary">{{ documento.categoria }} - {{documento.categoria.descripcion}}<a href="{% url 'documentos:cat_doc_detalle' %}?CD={{documento.categoria.pk}}">ver descripción documento</a></h1>

      <p><strong>Sector:</strong>  {{ documento.categoria.sector.nombre }}</p>
      <p><strong>Versión:</strong>  {{ documento.version }}</p>
      {% if documento.pertenece_a != None %}
        <p><strong>Pertenciente a:</strong> {{documento.pertenece_a}} <a href="{% url 'documentos:cat_doc_detalle' %}?CD={{documento.pertenece_a.pk}}">ver</a></p>
      {% endif %}
      <a href="{% url 'documentos:pdf' pk=documento.pk %}">Versión PDF</a>

      {% for p in partes %}

        {% if p.tipo == 'T'%}
          <h1 class="bg-primary">{{p.titulo}}</h1>
          <p>{{p.texto}}</p>
        {% else %}
          <h3>{{p.titulo}}</h3>
          <img src='{{p.imagen.url}}'>
          <p>{{p.texto}}</p>
        {% endif%}
      {% endfor%}


      <h2 class= "bg-primary"> Datos de esta edición:</h2>
      <p><strong>Realizada por:</strong>  {{ documento.autor.first_name }} {{ documento.autor.last_name }} <strong>el día: </strong> {{documento.fecha_creacion}}</p>

      {% if revisiones %}
        {% for r in revisiones%}
          <p><strong>Revisión realizada por:</strong> {{r.autor.first_name}} {{r.autor.last_name}}, el día: {{r.fecha_revision}} </p>
        {% endfor %}
      {% endif %}
          

      {% if publicacion %}
        {% for p in publicacion%}
          <p><strong> Publicado por:</strong> {{p.editor.first_name}} {{p.editor.last_name}}, el día: {{ p.fecha_publicacion}}</p>
        {% endfor %}
      {% endif %}




{% endblock %}
