{% extends "documentos/base.html" %}

{% block content %}
    <div>
      <h2>Buscar Documentos</h2>
      <a href="/search/">Buscar</a>
    </div>
    <h1>Lista de Documentos publicados</h1>

    {% if documento_list %}
    <ul>

      {% for d in documento_list %}
      <li>
        <a href="{% url 'documentos:doc-detalle' pk=d.pk %}">{{ d.categoria }}</a>
        <p>{{d.get_absolute_url}}</p>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>No se ingresó ningún Documento.</p>
    {% endif %}




{% endblock %}
